<div class="topic">
  <div class="container">
    <h1 class="topic-font my-4">会員一覧</h1>
  </div>
</div>
<p class="text-center my-4">※ 画像をクリックすると、会員様の詳細が見られます。</p>
<div class="card-deck mx-0 my-3">
  <% @users.each do |user| %>
    <div class="col-md-3 mb-4">
      <div class="card-wrap">
        <div class="card">
            <%= link_to user_path(user), class: "no-underline" do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", size:"250x250", class: "d-block mx-auto" %>
            <% end %>
          <div class="card-body">
            <div>
              <%= link_to user_path(user), class: "no-underline" do %>
                <strong class="h5 font-weight-bold"><%= user.name %></strong>
              <% end %>
              <div><%= truncate(user.profile, length: 30) %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="mx-auto"><%= paginate @users %></div>
