<div class="topic">
  <div class="container">
    <h1 class="topic-font my-4"><%= @user.name %>さんがいいねした投稿</h1>
  </div>
</div>
<% if @likes.present? %>
  <!--<div class="row justify-content-center">-->
  <div class="card-deck mx-0 my-3">
    <!--<div class="d-flex flex-wrap">-->
    <% @likes.each do |like| %>
    <!--<div class="col-lg-3 mt-3 px-0">-->
      <% post = Post.find_by(id: like.post_id ) do %>
      <% end %>

      <div class="col-md-3 mb-4">
        <div class="card-wrap">
          <div class="card">
            <div class="card-header align-items-center d-flex">
              <%= link_to user_path(post.user), class: "no-underline" do %>
                <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.jpg", class: "profile_image_icon" %>
                <strong><%= post.user.name %></strong>
              <% end %>

              <% if post.user == current_user %>
                <%= link_to post_path(post), method: :delete, "data-confirm" => "OKを押すと投稿が削除されます。本当によろしいですか？", class: "ml-auto mx-0 my-auto" do %>
                  <div class="fas fa-trash-alt no-underline-danger"></div>
                <% end %>
              <% end %>
            </div>

            <%= link_to post_path(post), data: {"turbolinks" => false}, class: "no-underline" do %>
              <% post.photos.first(1).each do |photo| %>
                <%= attachment_image_tag photo, :image, size:"250x250", class: "d-block mx-auto" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <!--<div class="like-btn_<%#= post.id %>"><%#= render "likes/like-btn", post: post %></div>-->
              <div>
                <strong class="like-btn_<%= post.id %>">
                  <%= render "likes/like-btn", post: post %>
                </strong>
                コメント<%= post.comments.count %>
              </div>
              <div>
                <span><strong><%= truncate post.user.name, length: 8 %></strong></span>
                <span><%= truncate(post.title, length: 9) %></span><br />
                <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), data: {"turbolinks" => false}, class: "post-time no-underline" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--</div>-->
  <!--</div>-->
<% else %>
  <div class="text-center mt-5"><%= @user.name %>さんがいいねした投稿はありません。</div>
<% end %>