<!DOCTYPE html>
<html>
  <head>
    <title>ObaCommu</title>
    <!--posts/show.html.erb 画像スライダー-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!--ここまで-->
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    
  </head>

  <body>

    <div id="wrapper">
      <%= render 'layouts/header' %>

      <% if flash[:notice] %>
        <div class="alert alert-info mb-0">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger mb-0">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>

    </div>

  </body>
</html>
